<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <h1>Empresas</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= link_to 'Editar', edit_company_path(company),{ "class" => "btn btn-warning" } %></td>
          <td><%= link_to 'Eliminar', company, { "class" => "btn btn-danger", "method" => "delete" }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<%= link_to 'Nueva Empresa', new_company_path %>
